<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js directives 事件处理</title>
</head>

<body>
    <div id="app">
        <p>{{content}}</p>
        <!-- <button v-on:click="content='新 content'">改变内容</button> -->
        <!-- <button @click="content='新内容'">按钮</button> -->
        <!-- <button @click="fn">按钮</button> -->
        <button @click="fn2(200, $event)">按钮2</button>
        <br />
        <p>元素内容为:{{value}}</p>
        <input type="text" v-model="value">
        <br />
        <p>radio数据为:{{value3}}</p>
        <input type="radio" id="one" value="1" v-model="value3" />
        <label for="one">选项1</label>
        <input type="radio" id="two" value="2" v-model="value3" />
        <label for="two">选项2</label>

        <!-- 多选框 -->
        <p>单个checkbox选中的数据为: {{value4}}</p>
        <input type="checkbox" id="single-cb" value="隐私条例" v-model="value4" />
        <label for="single-cb">选项</label>

        <p>多个checkbox选中的数据为: {{value5}}</p>
        <input type="checkbox" id="multiple-cb-one" value="选项一内容" v-model="value5" />
        <label for="multiple-cb-one">选项一</label>
        <input type="checkbox" id="multiple-cb-two" value="选项二内容" v-model="value5" />
        <label for="multiple-cb-two">选项二</label>
    </div>
    <script src="lib/vue2.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                content: "默认内容",
                value: '',
                value3: '',
                value4: false,
                value5: [],
            },
            methods: {
                // fn() {
                //     this.content = 'change content by methods function'
                // }
                // fn(event) {
                //     console.log(event);
                // }
                fn2(value, $event) {
                    console.log(value);
                    console.log($event);
                }
            }
        });
    </script>
</body>

</html>