<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue component</title>
</head>

<body>
    <div id="app">
        <my-non-prop-component :title="title" class="color-red" style="color: red" c-index="3"></my-non-prop-component>
        <h3>购物车</h3>
        <product-item v-for="product in products" :title="product.title" :key="product.id"
            @count-change="onCountChange"></product-item>
        <p>总数为:{{totalCount}}</p>
        <!-- v-model 与 组件 -->
        <p>输入内容为:{{iptValue}}</p>
        <com-input v-model="iptValue"></com-input>
    </div>
    <script src="./lib/vue2.js"></script>
    <script>
        const ComInput = {
            props: ["value"],
            //  @input="$emit('input', $event.target.value)"
            template: `<input type='text' :value="value" 
  @input="onInput"
  />`,
            methods: {
                onInput(event) {
                    this.$emit('input', event.target.value);
                }
            }
        };

        Vue.component("MyNonPropComponent", {
            inheritAttrs: false,
            template: `<div  class="color-black" c-index="1" style="font-weight: 600">
                    测试文字
                </div>`
        });
        Vue.component("ProductItem", {
            props: ["title"],
            template: `
            <div>
                <span>商品名称:{{title}}, 商品个数:{{count}}</span>
                <button @click="countIns1">+1</button>
                <button @click="countIns5">+5</button>
            </div>
            `,
            data() {
                return {
                    count: 0,
                };

            },
            methods: {
                countIns1() {
                    this.$emit('count-change', 1);
                    this.count++;
                },
                countIns5() {
                    this.$emit('count-change', 5);
                    this.count += 5;
                },
            },
        });
        const vm = new Vue({
            data() {
                return {
                    title: `非prop传值の示例标题`,
                    products: [
                        { id: 1, title: "苹果 * 1斤" },
                        { id: 2, title: "橙子 * 2个" },
                        { id: 3, title: "香蕉 * 3根" },
                    ],
                    totalCount: 0,
                    iptValue: "",
                }
            },
            methods: {
                onCountChange(productCount) {
                    this.totalCount += productCount;
                }
            },
            components: {
                ComInput,
            },
        }).$mount('#app');
    </script>
</body>

</html>