<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js directives, 渲染指令</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <!-- <li v-for="item in arr">{{item}}</li> -->
            <li v-for="(item,index) in arr">{{index + 1}}:{{item}}</li>
        </ul>
        <ul>
            <!-- <li v-for="value in obj">{{value}}</li> -->
            <li v-for="(value, key, index) in obj">{{index}}.{{key}}:{{value}}</li>
        </ul>

        <ul>
            <li v-for="(item, index) in 5">索引值:{{index}}, 第{{item}}个元素</li>
        </ul>

        <!-- input 1, 2, 3 in input 1 2 3 and then vm.brr.reverse(), find: 3:input1, 2:input2, 1:input3 -->
        <ul>
            <!-- <li v-for="item in brr">输入框{{item}}: <input type="text" /></li> -->
            <li v-for="item in brr" :key="item">输入框{{item}}: <input type="text" /></li>
        </ul>

        <ul>
            <li v-for="item in itemList" :key="item.id">输入框{{item.value}}: <input type="text" /></li>
        </ul>
        <!-- template只是展位，不会被render成html dom元素，表示一个看不见的区域并且不需要设置key-->
        <template v-for="item in obj">
            <span>{{item}}</span> <br />
        </template>

        <br />
        <!--vm.isTextShow = false;-->
        <span v-show="isTextShow">元素会显示吗?</span>

        <br />
        <!--v-if v-else-if v-else-->
        <p v-if="flag">这是标签内容v-if=true</p>
        <p v-else-if="!flag">这是标签内容v-else-if=true</p>
        <p v-else-if="true">这是标签内容v-else-if=true 但是已经有一个匹配了, 所以不会执行</p>
        <p v-else>这是标签内容, 当前面的v-if, v-else-if都为false的时候匹配</p>

        <br />
        <!-- vm.keyFlag=false;(不加key的情况下)-->
        <div v-if="keyFlag" :key="'username'">
            第一个输入框: <input type="text" />
        </div>
        <div v-else :key="'email'">
            第二个输入框: <input type="text" />
        </div>
    </div>
    <script src="lib/vue2.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    arr: ["content1", "content2", "content3"],
                    obj: {
                        content1: "内容1",
                        content2: "内容2",
                        content3: "内容3",
                    },
                    brr: [1, 2, 3],
                    itemList: [
                        {
                            id: 1,
                            value: 2
                        },
                        {
                            id: 2,
                            value: 3
                        },
                        {
                            id: 3,
                            value: 3
                        },
                    ],
                    isTextShow: true,
                    flag: false,
                    keyFlag: true
                };
            },
            methods: {

            }
        });
    </script>
</body>

</html>